<template>
<div>
  <div class = 'card'>
    <h3>{{data.heading}}</h3>
    <p>{{data.body}}</p>
  </div>
</div>
</template>

<script>
export default {
  name: 'Card',
  props: {
    data: Object
  }
}
</script>


<style scoped>
  .card {
    height: 150px;
    width: 250px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
  }
  h3 {
    margin-left: 10px;
    margin-right: 10px;
  }
  p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
    color: rgb(176, 176, 176);
  }
</style>