<template>
  <div>
    <div id= 'main'>
      <h1>Heading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

      <div id= 'carousel'>
        <Slider v-bind:data='data'/>
      </div>
    </div>
    

    <div id= 'circle-container'>
      <div id= 'circle'></div>
    </div>
  </div>
</template>



<script>
import Slider from './Slider.vue'

export default {
  name: 'MainElementTop',

  components: {
    Slider
  },

  props: {
    data: Array,
  }
}
</script>


<style scoped>
  h1 {
    padding-top:20px;
    color: rgb(245, 245, 245);
  }
  p {
    color: rgb(147, 165, 197);
  }
  #main {
    min-height: 45vh;
    background-color: rgb(33, 83, 152);
  }
  #carousel {
    margin-top: 30px;
    padding-bottom: 30px;
  } 

  #circle-container {
    height: 10px;
    border-bottom-width: 11px;
    border-bottom-style: solid;
    border-bottom-color: rgb(245, 245, 245);
    }

  #circle{
    margin-top: -10px;
    margin-left: calc(50% - 10px);
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius:20px;  
  }
</style>
