<template>
<div>
  <div id= 'main'>
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    <h2>Heading</h2>
    <div class = 'cards'>
      <Card v-bind:data='data[0]'/>
      <div id = 'center'><Card v-bind:data='data[1]'/></div>
      <Card v-bind:data='data[2]'/>
    </div>

  </div>
</div>
</template>

<script>
import Card from './Card.vue'

export default {
  name: 'MainElementBottom',

  components: {
    Card
  },

  props: {
    data: Array,
  }
}
</script>


<style scoped>
  #main {
    margin-top:-1px;
    min-height: calc(55vh - 10px) ;
    background-color: rgb(245, 245, 245);
  }
  .cards {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }



  @media only screen and (max-width: 1020px) {
    .cards {
      display: block;
      margin-left: calc(50% - 135px);
    }
    #center {
    margin-top: 20px;
    margin-bottom: 20px
  }
  }

</style>