<template>
<div>
  <div class="container">
    <carousel
      :perPageCustom="[[50, 1],[660, 2], [1024, 3]]"
      :loop="true"
      :paginationEnabled="false"
      :mouse-drag="false"
      :navigationEnabled="true"
      navigationNextLabel="<button style = '
      margin-top: -40px;
      width: 20px;
      height: 20px;
      border-style: none none solid solid;
      border-color:  rgb(38, 153, 211);
      outline:none;
      background-color:  rgb(33, 83, 152);
      display: inline-block;
      transform: rotate(225deg);
      cursor: pointer
      '></button>"
      navigationPrevLabel="<button style = '
      margin-top: -40px;
      width: 20px;
      height: 20px;
      border-style: solid solid  none none;
      border-color:  rgb(38, 153, 211);
      outline:none;
      background-color:  rgb(33, 83, 152);
      display: inline-block;
      transform: rotate(225deg);
      cursor: pointer
      '></button>"
    >

    <slide v-for="item in data" :key="item.message">
      <Card  v-bind:data='item'/>
    </slide>

  </carousel>
  </div>
</div>
</template>

<script>
import Card from './Card.vue'

export default {
  name: 'Slider',

  components: {
    Card,
  },
  props: {
    data: Array,
  }
}
</script>



<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.VueCarousel-inner {
  height: 150px;
}
.VueCarousel-slide {
  position: relative;
  background: rgb(33, 83, 152);
  min-height: 100px;
}
.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
      width: 270px;
      margin-left: calc(50% - 135px);
}
.VueCarousel-slide {
  min-width: 270px;
  max-width: 270px;
}
@media only screen and (min-width: 660px) {
    .container {
      width: 540px;
      margin-left: calc(50% - 270px);
    }
  }
@media only screen and (min-width: 1020px) {
    .container {
      width: 810px;
      margin-left: calc(50% - 405px);
    }
  }
</style>