<template>
  <div id="app">
    <MainElementTop id = "top" v-bind:data='top'/>
    <MainElementBottom id = "bottom" v-bind:data='bottom'/>
  </div>
</template>

<script>
import MainElementTop from './components/MainElementTop.vue'
import MainElementBottom from './components/MainElementBottom.vue'

export default {
  name: 'App',
  components: {
    MainElementTop,
    MainElementBottom
  },

  data() {return {
    top: [
      {heading: 'Heading 1',
      body: 'Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
      {heading: ' Next heading 1',
      body: 'Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
      {heading: 'Long long long long long long heading 1',
      body: 'Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
      {heading: 'Heading 2',
      body: 'Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
      {heading: ' Next heading 2',
      body: 'Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
      {heading: 'Long long long long long long heading 2',
      body: 'Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
    ],
    bottom: [
      {heading: 'Heading',
      body: 'Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
      {heading: ' Next heading',
      body: 'Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
      {heading: 'Long long long long long long heading',
      body: 'Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
    ],
    title: 'Title',
    name: 'Name',
    content: 'Content'
  }},

  metaInfo() {
    return {
      title: this.title,
      meta: [
        {
          name: this.name,
          content: this.content
        }
      ]
    };
  }
}
</script>


<style>
  * {
    margin: 0;
    font-family:Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
  }
  h1, h3 {
    padding-top:20px;
    padding-bottom: 10px;
  }
  h2 {
    padding-top:25px;
    padding-bottom: 5px;
  }

  .VueCarousel-inner {
  height: 150px;
}

</style>

